This notebook cleans up the Jacob 2017 metadata file(s)

In [127]:
import pandas as pd

In [128]:
# This file was acquired via email communication, and should not be public
foutcomes = '../../data/raw/jacob2017/FMT Clinical Response Remission.xlsx'
# This file was downloaded from the ENA. 
fmeta = '../../data/raw/jacob2017/jacob2017.PRJNA388210.txt'

fout = '../../data/clean/jacob2017.metadata.txt'

In [129]:
outcomes = pd.read_excel(foutcomes)
meta = pd.read_csv(fmeta, sep='\t')

In [130]:
meta.head()

,study_accession,secondary_study_accession,sample_accession,secondary_sample_accession,experiment_accession,run_accession,submission_accession,tax_id,scientific_name,instrument_platform,...,sra_aspera,sra_galaxy,cram_index_ftp,cram_index_aspera,cram_index_galaxy,sample_alias,broker_name,sample_title,nominal_sdev,first_created
0,PRJNA388210,SRP108284,SAMN07173004,SRS2240022,SRX2869649,SRR5629088,SRA567729,408170,human gut metagenome,ILLUMINA,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/008/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/008/SRR5629088,NaN,NaN,NaN,Longman.FMT.001.Donor.Pool253.Integrated,NaN,Longman.FMT.001.Donor.Pool253.Integrated,NaN,2017-11-09
1,PRJNA388210,SRP108284,SAMN07173005,SRS2240021,SRX2869648,SRR5629089,SRA567729,408170,human gut metagenome,ILLUMINA,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/009/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/009/SRR5629089,NaN,NaN,NaN,Longman.FMT.007.W2.Pool253.Integrated,NaN,Longman.FMT.007.W2.Pool253.Integrated,NaN,2017-11-09
2,PRJNA388210,SRP108284,SAMN07173020,SRS2240020,SRX2869647,SRR5629090,SRA567729,408170,human gut metagenome,ILLUMINA,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/000/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/000/SRR5629090,NaN,NaN,NaN,Longman.FMT.002.Donor.Pool253.Integrated,NaN,Longman.FMT.002.Donor.Pool253.Integrated,NaN,2017-11-09
3,PRJNA388210,SRP108284,SAMN07173021,SRS2240019,SRX2869646,SRR5629091,SRA567729,408170,human gut metagenome,ILLUMINA,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/001/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/001/SRR5629091,NaN,NaN,NaN,Longman.FMT.005.W2.Pool253.Integrated,NaN,Longman.FMT.005.W2.Pool253.Integrated,NaN,2017-11-09
4,PRJNA388210,SRP108284,SAMN07173018,SRS2240018,SRX2869645,SRR5629092,SRA567729,408170,human gut metagenome,ILLUMINA,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/002/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/002/SRR5629092,NaN,NaN,NaN,Longman.FMT.003.W4.Pool253.Integrated,NaN,Longman.FMT.003.W4.Pool253.Integrated,NaN,2017-11-09

In [131]:
meta.columns

Index([u'study_accession', u'secondary_study_accession', u'sample_accession',
       u'secondary_sample_accession', u'experiment_accession',
       u'run_accession', u'submission_accession', u'tax_id',
       u'scientific_name', u'instrument_platform', u'instrument_model',
       u'library_name', u'nominal_length', u'library_layout',
       u'library_strategy', u'library_source', u'library_selection',
       u'read_count', u'base_count', u'center_name', u'first_public',
       u'last_updated', u'experiment_title', u'study_title', u'study_alias',
       u'experiment_alias', u'run_alias', u'fastq_bytes', u'fastq_md5',
       u'fastq_ftp', u'fastq_aspera', u'fastq_galaxy', u'submitted_bytes',
       u'submitted_md5', u'submitted_ftp', u'submitted_aspera',
       u'submitted_galaxy', u'submitted_format', u'sra_bytes', u'sra_md5',
       u'sra_ftp', u'sra_aspera', u'sra_galaxy', u'cram_index_ftp',
       u'cram_index_aspera', u'cram_index_galaxy', u'sample_alias',
       u'broker_name', u'sample_title', u'nominal_sdev', u'first_created'],
      dtype='object')

In [132]:
# Expand the sample ID to different columns
sampledf = meta['sample_alias'].str.split('.', expand=True)
sampledf.head()

         0    1    2      3        4           5     6     7     8
0  Longman  FMT  001  Donor  Pool253  Integrated  None  None  None
1  Longman  FMT  007     W2  Pool253  Integrated  None  None  None
2  Longman  FMT  002  Donor  Pool253  Integrated  None  None  None
3  Longman  FMT  005     W2  Pool253  Integrated  None  None  None
4  Longman  FMT  003     W4  Pool253  Integrated  None  None  None

In [133]:
for i in [6, 7, 8]:
    print(sampledf.dropna(subset=[i]))
    print('')

          0    1    2    3      4  5   6   7         8
43  Longman  FMT  031  Pre  Stool  6  24  16  Project8

          0    1    2    3      4  5   6   7         8
43  Longman  FMT  031  Pre  Stool  6  24  16  Project8

          0    1    2    3      4  5   6   7         8
43  Longman  FMT  031  Pre  Stool  6  24  16  Project8

Ok, so one of the samples has some additional fields filled out. Not sure why...?

In [134]:
sampledf[sampledf[2] == "031"]

          0    1    2      3         4         5     6     7         8
43  Longman  FMT  031    Pre     Stool         6    24    16  Project8
61  Longman  FMT  031  Donor  Project8      None  None  None      None
76  Longman  FMT  031     W4     stool  Project8  None  None      None

Let's look at the other columns that seem less straightforward...

In [135]:
sampledf[4].unique()

array(['Pool253', 'Project8', 'stool', 'Stool'], dtype=object)

In [136]:
sampledf[5].unique()

array(['Integrated', None, 'Project8', '6'], dtype=object)

Hm, not sure what these columns are supposed to indicate. Let's just assume that the authors were just inconsistent in their sample labeling, and assume that all samples are the same kind of samples (stool, processed with same method).

Next, let's just double check the columns that seem most informative:

In [137]:
sampledf[1].unique()

array(['FMT'], dtype=object)

In [138]:
# This column has patient IDs
sampledf[2].unique()

array(['001', '007', '002', '005', '003', '010', '004', '011', '024',
       '027', '028', '006', '029', '033', '021', '034', '025', '031',
       '012', '019'], dtype=object)

In [139]:
# This one is time point (or donor)
sampledf[3].unique()

array(['Donor', 'W2', 'W4', 'Pre', 'donor'], dtype=object)

In [140]:
# Replace 'Donor' with 'donor'
sampledf = sampledf.replace('Donor', 'donor')

Now, let's combine this back with the metadata.

In [141]:
sampledf = sampledf.rename(
    columns={0: 'study_id',
             1: 'FMT', 
             2:'patient_id',
             3: 'sample_id'})
sampledf.head()

  study_id  FMT patient_id sample_id        4           5     6     7     8
0  Longman  FMT        001     donor  Pool253  Integrated  None  None  None
1  Longman  FMT        007        W2  Pool253  Integrated  None  None  None
2  Longman  FMT        002     donor  Pool253  Integrated  None  None  None
3  Longman  FMT        005        W2  Pool253  Integrated  None  None  None
4  Longman  FMT        003        W4  Pool253  Integrated  None  None  None

In [142]:
allmeta = pd.merge(
    sampledf[['patient_id', 'sample_id']], meta, 
    left_index=True, right_index=True)

In [143]:
allmeta.head()

,patient_id,sample_id,study_accession,secondary_study_accession,sample_accession,secondary_sample_accession,experiment_accession,run_accession,submission_accession,tax_id,...,sra_aspera,sra_galaxy,cram_index_ftp,cram_index_aspera,cram_index_galaxy,sample_alias,broker_name,sample_title,nominal_sdev,first_created
0,001,donor,PRJNA388210,SRP108284,SAMN07173004,SRS2240022,SRX2869649,SRR5629088,SRA567729,408170,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/008/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/008/SRR5629088,NaN,NaN,NaN,Longman.FMT.001.Donor.Pool253.Integrated,NaN,Longman.FMT.001.Donor.Pool253.Integrated,NaN,2017-11-09
1,007,W2,PRJNA388210,SRP108284,SAMN07173005,SRS2240021,SRX2869648,SRR5629089,SRA567729,408170,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/009/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/009/SRR5629089,NaN,NaN,NaN,Longman.FMT.007.W2.Pool253.Integrated,NaN,Longman.FMT.007.W2.Pool253.Integrated,NaN,2017-11-09
2,002,donor,PRJNA388210,SRP108284,SAMN07173020,SRS2240020,SRX2869647,SRR5629090,SRA567729,408170,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/000/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/000/SRR5629090,NaN,NaN,NaN,Longman.FMT.002.Donor.Pool253.Integrated,NaN,Longman.FMT.002.Donor.Pool253.Integrated,NaN,2017-11-09
3,005,W2,PRJNA388210,SRP108284,SAMN07173021,SRS2240019,SRX2869646,SRR5629091,SRA567729,408170,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/001/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/001/SRR5629091,NaN,NaN,NaN,Longman.FMT.005.W2.Pool253.Integrated,NaN,Longman.FMT.005.W2.Pool253.Integrated,NaN,2017-11-09
4,003,W4,PRJNA388210,SRP108284,SAMN07173018,SRS2240018,SRX2869645,SRR5629092,SRA567729,408170,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/002/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/002/SRR5629092,NaN,NaN,NaN,Longman.FMT.003.W4.Pool253.Integrated,NaN,Longman.FMT.003.W4.Pool253.Integrated,NaN,2017-11-09

In [144]:
outcomes

    Patient Remission W4  Response W4
0         1            No           No
1         2            No           No
2         3            No           No
3         4            No          Yes
4         5            No           No
5         6            No           No
6         7            No           No
7        10            No           No
8        11            No           No
9        12           Yes          Yes
10       19           Yes           No
11       21            No           No
12       24            No          Yes
13       25           Yes          Yes
14       27            No          Yes
15       28            No          Yes
16       29            No           No
17       31            No           No
18       33            No          Yes
19       34            No           No

Change the patient ID to an integer in allmeta, so that it matches the outcome data (which is an Excel file, so was automatically converted to an int)

In [145]:
allmeta['patient_id'] = allmeta['patient_id'].astype(int)

In [146]:
outcomes = outcomes.rename(
    columns={'Remission W4 ': 'remission_w4',
             'Response W4 ': 'response_w4'})

In [147]:
allmeta = pd.merge(allmeta, outcomes, left_on='patient_id', right_on='Patient')
allmeta.head()

,patient_id,sample_id,study_accession,secondary_study_accession,sample_accession,secondary_sample_accession,experiment_accession,run_accession,submission_accession,tax_id,...,cram_index_aspera,cram_index_galaxy,sample_alias,broker_name,sample_title,nominal_sdev,first_created,Patient,remission_w4,response_w4
0,1,donor,PRJNA388210,SRP108284,SAMN07173004,SRS2240022,SRX2869649,SRR5629088,SRA567729,408170,...,NaN,NaN,Longman.FMT.001.Donor.Pool253.Integrated,NaN,Longman.FMT.001.Donor.Pool253.Integrated,NaN,2017-11-09,1,No,No
1,1,W2,PRJNA388210,SRP108284,SAMN07172996,SRS2240014,SRX2869641,SRR5629096,SRA567729,408170,...,NaN,NaN,Longman.FMT.001.W2.Pool253.Integrated,NaN,Longman.FMT.001.W2.Pool253.Integrated,NaN,2017-11-09,1,No,No
2,1,W4,PRJNA388210,SRP108284,SAMN07173013,SRS2239975,SRX2869602,SRR5629135,SRA567729,408170,...,NaN,NaN,Longman.FMT.001.W4.Pool253.Integrated,NaN,Longman.FMT.001.W4.Pool253.Integrated,NaN,2017-11-09,1,No,No
3,7,W2,PRJNA388210,SRP108284,SAMN07173005,SRS2240021,SRX2869648,SRR5629089,SRA567729,408170,...,NaN,NaN,Longman.FMT.007.W2.Pool253.Integrated,NaN,Longman.FMT.007.W2.Pool253.Integrated,NaN,2017-11-09,7,No,No
4,7,W4,PRJNA388210,SRP108284,SAMN07173016,SRS2240016,SRX2869643,SRR5629094,SRA567729,408170,...,NaN,NaN,Longman.FMT.007.W4.Pool253.Integrated,NaN,Longman.FMT.007.W4.Pool253.Integrated,NaN,2017-11-09,7,No,No

## Add sample type indicator

I need to add a column that indicates whether the sample is a patient or donor sample.

In [148]:
allmeta['sample_type'] = allmeta['sample_id'].apply(lambda x: 'donor' if x == 'donor' else 'patient')

## Finalize metadata and write to file

In [149]:
# Reorder columns for my own sanity
first_cols = ['run_accession', 'patient_id', 'sample_id', 'sample_type', 'remission_w4', 'response_w4', 'sample_title']
col_order = first_cols + [i for i in allmeta.columns if i not in first_cols]
allmeta = allmeta[col_order]
allmeta.head()

,run_accession,patient_id,sample_id,sample_type,remission_w4,response_w4,sample_title,study_accession,secondary_study_accession,sample_accession,...,sra_aspera,sra_galaxy,cram_index_ftp,cram_index_aspera,cram_index_galaxy,sample_alias,broker_name,nominal_sdev,first_created,Patient
0,SRR5629088,1,donor,donor,No,No,Longman.FMT.001.Donor.Pool253.Integrated,PRJNA388210,SRP108284,SAMN07173004,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/008/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/008/SRR5629088,NaN,NaN,NaN,Longman.FMT.001.Donor.Pool253.Integrated,NaN,NaN,2017-11-09,1
1,SRR5629096,1,W2,patient,No,No,Longman.FMT.001.W2.Pool253.Integrated,PRJNA388210,SRP108284,SAMN07172996,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/006/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/006/SRR5629096,NaN,NaN,NaN,Longman.FMT.001.W2.Pool253.Integrated,NaN,NaN,2017-11-09,1
2,SRR5629135,1,W4,patient,No,No,Longman.FMT.001.W4.Pool253.Integrated,PRJNA388210,SRP108284,SAMN07173013,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/005/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/005/SRR5629135,NaN,NaN,NaN,Longman.FMT.001.W4.Pool253.Integrated,NaN,NaN,2017-11-09,1
3,SRR5629089,7,W2,patient,No,No,Longman.FMT.007.W2.Pool253.Integrated,PRJNA388210,SRP108284,SAMN07173005,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/009/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/009/SRR5629089,NaN,NaN,NaN,Longman.FMT.007.W2.Pool253.Integrated,NaN,NaN,2017-11-09,7
4,SRR5629094,7,W4,patient,No,No,Longman.FMT.007.W4.Pool253.Integrated,PRJNA388210,SRP108284,SAMN07173016,...,fasp.sra.ebi.ac.uk:/vol1/srr/SRR562/004/SRR562...,ftp.sra.ebi.ac.uk/vol1/srr/SRR562/004/SRR5629094,NaN,NaN,NaN,Longman.FMT.007.W4.Pool253.Integrated,NaN,NaN,2017-11-09,7

Let's do some checks and make sure I didn't duplicate or lose samples in all the merging

In [150]:
print(sampledf.groupby(['patient_id', 'sample_id']).size().reset_index()[0].unique())

sampledf.groupby(['patient_id', 'sample_id']).size()

[1]

patient_id  sample_id
001         W2           1
            W4           1
            donor        1
002         Pre          1
            W2           1
            W4           1
            donor        1
003         Pre          1
            W2           1
            W4           1
            donor        1
004         Pre          1
            W2           1
            W4           1
            donor        1
005         Pre          1
            W2           1
            W4           1
            donor        1
006         Pre          1
            W2           1
            W4           1
            donor        1
007         Pre          1
            W2           1
            W4           1
            donor        1
010         Pre          1
            W2           1
            W4           1
                        ..
024         W2           1
            W4           1
            donor        1
025         Pre          1
            W2           1
            W4           1
            donor        1
027         Pre          1
            W2           1
            W4           1
            donor        1
028         Pre          1
            W2           1
            W4           1
            donor        1
029         Pre          1
            W2           1
            W4           1
            donor        1
031         Pre          1
            W4           1
            donor        1
033         Pre          1
            W2           1
            W4           1
            donor        1
034         Pre          1
            W2           1
            W4           1
            donor        1
Length: 78, dtype: int64

In [151]:
# Make sure there aren't duplicate samples
print(allmeta.groupby(['patient_id', 'sample_id']).size().reset_index()[0].unique())

# Just look at the data
allmeta.groupby(['patient_id', 'sample_id']).size()

[1]

patient_id  sample_id
1           W2           1
            W4           1
            donor        1
2           Pre          1
            W2           1
            W4           1
            donor        1
3           Pre          1
            W2           1
            W4           1
            donor        1
4           Pre          1
            W2           1
            W4           1
            donor        1
5           Pre          1
            W2           1
            W4           1
            donor        1
6           Pre          1
            W2           1
            W4           1
            donor        1
7           Pre          1
            W2           1
            W4           1
            donor        1
10          Pre          1
            W2           1
            W4           1
                        ..
24          W2           1
            W4           1
            donor        1
25          Pre          1
            W2           1
            W4           1
            donor        1
27          Pre          1
            W2           1
            W4           1
            donor        1
28          Pre          1
            W2           1
            W4           1
            donor        1
29          Pre          1
            W2           1
            W4           1
            donor        1
31          Pre          1
            W4           1
            donor        1
33          Pre          1
            W2           1
            W4           1
            donor        1
34          Pre          1
            W2           1
            W4           1
            donor        1
Length: 78, dtype: int64

Okay, looks good. Let's write this to file!

In [152]:
allmeta.to_csv(fout, sep='\t', index=False)